/*
	Colores: 
	violeta #702F8A
	gris    #888B8D
 	gris2   #D6D6D6
 	azul    #006EB3

 */
body{
	font-family: 'Roboto', sans-serif;
	background: url(recursos/fondo.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/*===========================================
=            Barra de navegación            =
===========================================*/

header{
	top: 8px;
	border: 1px solid #702F8A;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.7);
	width: calc(100% - 16px);
	clear: both;
	display: table;
	font-size: 18px;
	z-index: 100;
	position: fixed;
	transition: all ease .4s;
}
header:hover{
	background: #FFFFFF;
}
#menu{
	width:  1400px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
#menu img{
	float: left;
	padding: 9px 0;
}
#menu nav{
	float: right;
}
#menu ul:not(#menu-productos ul, #menu-usuario ul){
	margin: 0;
}
#menu ul li:not(#productos, #menu-productos ul li, #usuario, #menu-usuario ul li){
	list-style: none;
	float: left;
	margin-left: 25px;
	padding: 25px 0;
}
#productos, #usuario{
	list-style: none;
	float: left;
	margin-left: 25px;
	padding-top: 12px;
}
#productos button, #usuario button{
	padding: 13px;
	font-size: 18px;
	padding-bottom: 26px;
	font-family: 'Roboto', sans-serif;
	border-radius: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: none;
	cursor: pointer;
	transition: all ease .2s;
}
#usuario button{
	padding-bottom: 30px;
}
#usuario button:hover{
	background: #702F8A;
	color: #FFFFFF;
}
.noEncima{	
	background: none;
	color: #702F8A;
}
.encima{
	background: #702F8A;
	color: #FFFFFF;
}
#productos button:hover{
	background: #702F8A;
	color: #FFFFFF;
}
#productos button:hover + #menu-productos{
	visibility: visible;
}
#usuario button:hover + #menu-usuario{
	visibility: visible;
}
#menu ul li a:not(#categorias div ul li a, #menu-usuario ul li a){
	text-decoration: none;
	padding: 13px;
	border-radius: 5px;
	color: #702F8A;
	transition: all ease .2s;
}
#menu ul li a:hover:not(#categorias a:hover, #menu-usuario a:hover) {
	background: #702F8A;
	color: #FFFFFF;
}
#buscador{
	float: left;
	margin-left: 75px;
	margin-top: 18px;
	display: table;
}
#buscador input{
	height: 32px;
	width: 350px;
	padding: 0px 10px;
	border-radius: 0;
	border: 1px solid #702F8A;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	outline: none;
	background: none;
}
#buscador button{
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	background: #702F8A;
	color: #FFFFFF;
	border: 1px solid #702F8A;	
	border-radius: 0;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	float: right;
	cursor: pointer;
	transition: all ease .2s;
}
#buscador button:hover{
	background: #FFFFFF;
	color: #702F8A;
}
#menu-productos{
	position: absolute;
	margin: 0 auto;
	width: 50%;
	height: 300px;
	min-width: 900px;
	background: #FFFFFF;
	left: 25%;
	visibility: hidden;
	border: 1px solid #702F8A;
	border-radius: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#menu-usuario{
	position: absolute;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #702F8A;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -55px;
	width: 150px;
	visibility: hidden;
}
#menu-usuario ul{
	list-style: none;
	padding: 0;
	text-align: center;
}
#menu-usuario ul li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #702F8A;
	background: #FFFFFF;
}
#menu-usuario ul li.last a{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px; 
}
#menu-usuario ul li a:hover{
	background: #702F8A;
	color: #FFFFFF;
	border-radius: 0;
}

#menu-productos:hover, #menu-usuario:hover{
	visibility: visible;
}
#categorias{
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
#categorias > div{
	float: left;
	padding: 0 30px;
}
#menu-productos h4, #menu-productos ul{
	margin: 0;
	padding: 0;
}
#menu-productos ul li{
	list-style: none;
	padding: 8px 0;
}
#categorias h4{
	color: #006EB3;
	margin-bottom: 10px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
#categorias a{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	border-radius: 5px;
}
#categorias a:after{
	content: "";
	display: block;
	width: 0;
	height: 1px;
	background: #006EB3;
	transition: .25s all;
}
#categorias a:hover:after{
	width: 100%;
}
.icon span{
	background: #006EB3;
	color: #FFFFFF;
	font-size: 12px;
	position: absolute;
	margin-top: 15px;
	margin-left: -4px;
	width: 15px;
	height: 15px;
	text-align: center;
	border-radius: 50%;
}
.icon:hover > span{
	background: #FFFFFF;
	color: #702F8A;
}

/*=====  End of Barra de navegación  ======*/

/*=================================================
=                Página principal                =
=================================================*/

.container-slider, .container-destacados{
	margin-top: 100px;
	width: 90%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}
.slider{
	display: flex;
	width: 300%;
	height: 350px;
	margin-left: -100%;
	justify-content: center;
	align-items: center;
}
.slider__section{
	width: 100%;
}
.slider__img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider:hover ~ .slider__btn, .destacados:hover ~ .destacados__btn{
	opacity: 1;
}
.slider__btn, .destacados__btn{
	position: absolute;
	padding: 5px;
	background: rgba(255, 255, 255, 0.7);
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	text-align: center;
	transition: all .1s;
	opacity: 0;
	cursor: pointer;
}
.slider__btn--right, .destacados__btn--right{
	right: 0;
}
.slider__btn--left, .destacados__btn--left{
	left: 0;
}
.slider__btn:hover, .destacados__btn:hover{
	background: #fff;
	font-size: 40px;
	opacity: 1;
}
.destacados__btn{
	background: none;
}
.destacados__btn:hover{
	background: none;
}
.selectores{
	margin: 0;
	padding: 0;
	position: absolute;
	display: flex;
	list-style: none;
	bottom: 0;
	left: calc(50% - 42.5px);
}
.selectores div {  
	position: relative;
	z-index: 50;
	margin: 10px;
	display: block;
	width: 8px;
	height: 8px;
	background: #FFFFFF;
	border-radius: 15px;
	cursor: pointer;
	transition: all 200ms ease;
}
.selectores div.active{
	margin: 7px;
	width: 13px;
	height: 13px;
}
#banner{
	margin: 0 auto;
	width: 1600px;
	height: 340px;
	margin-top: 100px;	
	display: flex;
	justify-content: center;
	align-items: center;
}
#banner .slider{
	width: 1600px;
	height: 340px;
	margin: auto;
	position: relative;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
#banner .slider img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 5px;
}
.slider input[type="radio"]{
	display: none;
}
.slider input[type="radio"]:checked ~ a img{ 
	opacity: 1;
}
.titulo-destacados{
	margin-top: 60px;
	display: flex;
	align-items: center;
	padding: 0 10%;
}
.titulo-destacados h2, .titulo-destacados a{
	margin: 0 10px;
}
.titulo-destacados h2{
	color: #702F8A;
}
.titulo-destacados a{
	text-decoration: none;
	font-size: 18px;
	color: #646464;
}
.titulo-destacados a:hover{
	text-decoration: underline;
}
.container-destacados{
	margin-top: 10px;
	background: rgba(255, 255, 255, .6);
	border: 1px solid #702F8A;
	border-radius: 5px;
}
.destacados{
	display: flex;
	height: 400px;
	justify-content: center;
	width: 150%;
	align-items: center;
	margin-left: -25%;
}
.index-producto{
	width: 230px;
	height: 300px;
	display: inline-grid;
	background: rgba(255, 255, 255, .6);
	border-radius: 5px; 
	text-align: center;
	padding: 20px;
	border: 1px solid #000000;
	border-radius: 5px;
	font-size: 16px;
	margin-left: 50px;
	margin-right: 50px;
}
.destacados__section{
	width: 25%;
}
.destacados__section a{
	text-decoration: none;
}
.index-producto span{
	font-size: 22px;
	color: #000000;
}
.index-producto img{
	width: 220px;
}
.index-producto:hover{
	box-shadow: 0px 7px 15px #000000;
	transition: all .2s ease;
}
.destacados__btn{
	color: #702F8A;
}

/*=====     End of Página principal        ======*/

/*=================================================
=            Navegación Login/Registro            =
=================================================*/

#nav_login ul{
	width: 100%;
	list-style: none;
	display: flex;
	text-align: center;
	margin: 0;
	padding: 0;
}
#nav_login li{
	width: 50%;
	padding: 20px 0;
	font-size: 22px;
	letter-spacing: 1px;
}
#nav_login li:not(.click):hover{
	background: rgba(214, 214, 214, .6);
	cursor: pointer;
}
#btn-iniciar{
	border-right: 1px solid #888B8D;
	border-bottom: 1px solid #888B8D;
	border-top-left-radius: 5px;
	transition: all ease .2s;
}
#btn-iniciar.click{
	border-right: none;
	border-bottom: none;
	background: rgba(255, 255, 255, .6);
	color: #006EB3;
	font-weight: bold;
}
#login.click{
	display: none;
}
#btn-registrar{
	border-left: 1px solid #888B8D;
	border-bottom: 1px solid #888B8D;
	border-top-right-radius: 5px;
	transition: all ease .2s;
}
#btn-registrar.click{
	border-left: none;
	border-bottom: none;
	background: rgba(255, 255, 255, .6);
	color: #702F8A;
	font-weight: bold;
}
#registro.click{
	display: none;
}

/*=====  End of Navegación Login/Registro  ======*/

.login{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
#contenedor-login{
	width: 400px;
	height: 560px;
	border: 1px solid #888B8D;
	border-radius: 5px;
	background: rgba(255, 255, 255, .6);
}
#login, #registro{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#login input, #registro input{
	height: 32px;
	width: 65%;
	padding: 0px 10px;
	border-radius: 0;
	border: 1px solid #702F8A;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	outline: none;
	top: 0;

}
#login label, #registro label{
	display: flex;
	justify-content: center;
}
#login i, #registro i{
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid;	
	border-radius: 0;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #FFFFFF;
}
.error{
	font-size: 8px;
	padding: 0;
	margin: 0;
	color: #FF0000;
	visibility: hidden;
}
#login input[type="submit"], #registro input[type="submit"]{
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
	transition: all ease .2s;
}

/*=============================
=            Login            =
=============================*/

#login{
	color: #006EB3;
	padding-top: 130px;
}
#login input{
	border-color: #006EB3;
}
#login input[type="submit"]{
	color: #ffffff;
	background: #006EB3; 
}
#login input[type="submit"]:hover{
	background: #702F8A;
}
#login i{
	background: #006EB3;
	border-color: #006EB3;
}

/*=====  End of Login  ======*/

/*================================
=            Registro            =
================================*/

#registro{
	color: #702F8A;
	padding-top: 25px;
}
#registro input{
	border-color: #702F8A;
}
#registro input[type="submit"]{
	color: #FFFFFF;
	background: #702F8A;

}
#registro input[type="submit"]:hover{
	background: #006EB3;
}
#registro i{
	background: #702F8A;
	border-color: #702F8A;
}

/*=====  End of Registro  ======*/

#crud{
	display: flex;
	justify-content: center;
}

/*=====================================
=            Tabla mostrar            =
=====================================*/

#mostProd{
	width: 60%;
	text-align: center;
}
#crud{
	margin-top: 100px;
}
#mostrar{
	width: 100%;
	border: 0.5px solid #702F8A;
	border-radius: 5px;
	text-align: center;
	border-spacing: 0;
	margin: 30px;
}
#mostrar td:not(.inp){
	border: 0.5px solid #702F8A;
	padding: 10px;
}
#mostrar thead{
	background: #702F8A;
	color: #FFFFFF;
}

#mostrar a, #mostrar .icon label:not(.contenido label){
	padding: 8px 25px;
	color: #702f8a;
	background: #ffffff;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	transition: all ease .2s;
}
#mostrar .icon{
	padding: 0 0;
}
#mostrar td a:hover, #mostrar .icon label:not(.contenido label):hover{
	background: #702f8a;
	color:  #ffffff;
	cursor: pointer;

}
#buscar-producto{
	margin: 30px;
	margin-bottom: 0;
	display: inline-block;
}
#buscador-crud{
	display: table-cell;
}
#buscador-crud #barra{
	display: table;
	float: left;
}
#buscador-crud #barra input{
	height: 32px;
	width: 350px;
	padding: 0px 10px;
	border-radius: 0;
	border: 1px solid #702F8A;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	outline: none;
	margin-bottom: 15px;
}
#buscador-crud #barra button{
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	background: #702F8A;
	color: #FFFFFF;
	border: 1px solid #702F8A;	
	border-radius: 0;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	float: right;
	cursor: pointer;
}
#buscador-crud #barra button:hover{
	background: #FFFFFF;
	color: #702F8A;
}
#buscador-crud #selectores{
	padding-top: 6px;
	margin-bottom: 10px;
}
#buscador-crud #selectores input{
	margin-left: 10px;
}
#buscador-crud input[type="radio"]{
	border-radius: 0;
}
.cambiarPágina{
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.cambiarPágina a{
	box-sizing: border-box;
	height: 35px;
	text-decoration: none;
	font-size: 20px;
	background:  #702F8A;
	color: #FFFFFF;
	padding: 6px;
	border: 1px solid  #702F8A;
}
.cambiarPágina .left{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: -1px;
}
.cambiarPágina .right{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -1px;
}
.cambiarPágina a:hover{
	background: #FFFFFF;
	color: #702F8A;
	
}
.cambiarPágina form input{
	width: 50px;
	height: 35px;
	text-align: center;
	border: 1px solid  #702F8A;
	border-radius: 0;
	outline: none;
}
/*=====  End of Tabla mostrar  ======*/


/*====================================
=            Ver imágenes            =
====================================*/


#mostrar input[type="checkbox"]{
	display: none;
}
.imagenes, .eliminar{
	width: 100%;
 	height: 100vh;
 	position: fixed;
 	top: 0; 
 	left: 0;
 	background-color: rgba(0,0,0,0.2);
 	display: none;
 	justify-content: center;
 	align-items: center;
}
.contenido{
 	padding: 10px;
 	background-color: #FFFFFF;
 	border: 1px solid #702F8A;
 	border-radius: 5px;
 	box-shadow: 1px 10px 25px rgba(0,0,0,0.6);
}
.contenido table{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.contenido td{
	text-align: center;
}
.contenido .cerrarImagenes{
	margin: 5px 0;
}
.contenido .cerrarImagenes label{
	font-family: sans-serif;
	cursor: pointer;
	color:  #702F8A;
	padding: 10px 15px;
	border-radius: 5px;
	transition: .12s ease all;
}
.contenido .cerrarImagenes label:hover{
	background: #702F8A;
	color: #FFFFFF;
}
.contenido form{
	margin: 0;
	padding: 5px;
}
.contenido .inp{
	padding-top: 15px;
	border: 0.5px solid #702F8A;
}
.cerrarImagenes{
	margin-bottom: 7px;
}
.contenido input[type="file"]{
	display: none;
}
.imagenes .contenido .file, .imagenes .contenido input{
	background: #702F8A;
	border-radius: 5px;
	border: 1px solid #702F8A;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	padding: 3px 20px;
	margin: 10px;
	transition: .12s ease all;
}
.imagenes .contenido .file:hover, .imagenes .contenido input:hover{
	background: #006EB3;
	border: 1px solid #006EB3;
}

/*=====  End of Ver imágenes  ======*/

.contenido .cerrarEliminar{
	padding: 30px;
}
.contenido .cerrarEliminar p{
	margin-bottom: 20px;
	font-size: 20px;
}
.contenido .cerrarEliminar label{
	padding: 8px 25px;
  color: #702f8a;
  background: #ffffff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.contenido .cerrarEliminar label:hover{
	color: #FFFFFF;
	background: #702f8a;
}

/*===============================================
=          Ingresar/Modificar articulo          =
===============================================*/


#ingProd, #actProd{
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #006EB3;
	border-radius: 5px;
	margin-top: 30px;
	height: 820px;
	width: 510px;
	text-align: center;
	padding: 20px 0;
}
#actProd{
	height: 550px;
}
#ingProd h2, #actProd h2{
	font-size: 26px;
	color: #006EB3;
}
#ingresar, #actualizar{
	margin: 0 auto;
	text-align: right;
}
#ingresar .inp, #actualizar .inp{
	text-align: left;
}
#ingresar input, #ingresar select, #actualizar input, #actualizar select{
	border: 1px solid #006EB3;
	border-radius: 5px;
	height: 25px;
	width: 250px;
	outline: none
}
#ingresar input[type="number"], #actualizar input[type="number"]{
	width: 80px;
}
#ingresar textarea, #actualizar textarea{
	border: 1px solid #006EB3;
	border-radius: 5px;
	width: 250px;
	height: 100px;
}
#ingresar input[type="file"]{
	display: none;
}
#ingresar label{
	height: 25px;
	width: 250px;
	font-size: 14px;
	background: #006EB3;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #006EB3;
	border-radius: 5px;
	transition: all ease .2s;
}
#ingresar label:hover{
	border: 1px solid #702F8A;
	background: #702F8A;
}
.seleccion::after {
  content: attr(data-after);
  white-space: pre;
}
#ingresar .btn, #actualizar .btn{
	text-align: center;
}
#ingresar .btn button, #actualizar .btn button{
	width: 40px;
	height: 40px;
	background: #006EB3;
	border: 1px solid #006EB3;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
	transition: all ease .2s;
}
#actualizar .btn a{
	color: #FFFFFF;
	transition: all ease .2s;
}
#ingresar .btn button:hover, #actualizar .btn button:hover{
	background: #702F8A;
	border: 1px solid #702F8A;
}
#ingresar td, #actualizar td{
	padding: 10px;
}
/*=====  End of Ingresar/Modificar articulo  ======*/

/*================================
=            Catálogo            =
================================*/

.contenedor-catalogo{
	margin-top: 100px; 
	min-height: 200px;
	width: 70%;
	min-width: 1000px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}
.contenedor-catalogo h1, .contenedor-catalogo p{
	margin-left: 20px;
}
.contenedor-catalogo h1{
	color: #702F8A;
}
.contenedor-productos{
	border: 1px solid #702F8A;
	border-radius: 5px;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background: rgba(255, 255, 255, .6);
}
.contenedor-productos a{
	text-decoration: none;
}
.producto{
	width: 320px;
	height: 450px;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-table;
	margin: 55px;
	text-align: center;
	color: #000000;
	background: #FFFFFF;
	transition: all ease .2s;
}
.producto:hover{
	box-shadow: 0px 7px 15px #000000;
	transition: all .2s ease;
}
.producto img{
	width: 280px;
	height: 280px;
	object-fit: cover;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}
.producto span{
	display: block;
	padding: 10px;
	margin-left: 30px;
	font-size: 20px;
	text-align: left;
}
.noProducto{
	box-sizing: border-box;
	padding: 50px;
	width: 100%;
}
.noProducto h2{
	color: #006EB3;
}
/*=====  End of Catálogo  ======*/

/*===============================================
=                     Cursos                   =
===============================================*/

#contenedor-cursos{
	width: 90%;
	min-width: 1200px;
	margin-top: 100px;
	padding: 50px 0;
	align-items: center;
	justify-content: center;
	border: 1px solid #006EB3;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255, 255, 255, 0.7);
	text-align: center;
}
#contenedor-cursos .contenedor{
	padding: 50px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}
#curso{
	text-align: center;
	width: 320px;
	height: 490px;
	border: 1px solid #888B8D;
	border-radius: 5px;
	padding: 20px 0;
	margin: 20px 30px;
}
#curso h2{
	color: #006EB3;
}
#curso #img{
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
#curso #img img{
	border-radius: 5px;
}
#curso #contenido ul{
	font-size: 20px;
	text-align: left;
	margin-left: 12%;
}
#curso #contenido ul li{
	margin: 8px 0;
}
#curso #contenido ul li ul, #curso #contenido ul li ul li{
	margin-left: 0;
}
#contenedor-cursos .info{
	margin-top: 10px;
}
/*=====           End of Cursos          ======*/

/*=========================================
=            Vista de producto            =
=========================================*/

.contenedor-vista-producto{
	display: flex;
	text-align: center;
	justify-content: center;
	margin-top: 100px;
}
.vista-producto{
	width: 1184px;
	padding: 50px 0;
	border: 1px solid;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.6);
}
.vista-producto .fila1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: auto;
}
.vista-producto .fila1 .columna1{
	display: flex;
}
.vista-producto .fila1 .columna1 .miniaturas{
	margin: auto;
}
.vista-producto .fila1 .columna1 .miniaturas img{
	border-radius: 5px;
	border: 1px solid #006EB3;
	margin: 10px;
	cursor: pointer;
}
img.active{
	outline: solid #006EB3;
}
img.hidden{
	display: none;
}
.vista-producto .fila1 .columna2{
	text-align: center;
	width: 400px;
}
.vista-producto .fila1 .columna2 h1{
	color: #702F8A;
}
.vista-producto .fila1 .columna2 span{
	font-size: 22px;
}
.vista-producto .fila1 .columna2 form{
	margin: 50px 10px;
}
.vista-producto .fila1 .columna2 form input[type="number"]{
	width: 65px;
	height: 30px;
	padding: 5px;
	border: 1px solid #702F8A;
	border-radius: 5px;
	font-size: 18px;
	margin: 5px;
}
.vista-producto .fila1 .columna2 form label{
	display: flex;
	justify-content: center;
	align-items: center;
}
.vista-producto .fila1 .columna2 form button{
	width: 80px;
	margin: 10px;
	padding: 10px 0;
	border: none;
	border-radius: 5px;
	background: #702F8A;
	color: #FFFFFF;
	font-size: 20px;
	cursor: pointer;
	transition: all .2s ease;
	text-align: center;
}
.vista-producto .fila1 .columna2 form span{
	font-size: 12px;
	color: #686868;
}
.vista-producto .fila1 .columna2 form button:hover{
	background: #006EB3;
}
.vista-producto .fila2 .columna1{
	text-align: left;
	width: 80%;
	margin: auto;
}

/*=====  End of Vista de producto  ======*/

/*===============================
=            Carrito            =
===============================*/

.contenedor-carrito{
	display: flex;
	text-align: center;
	justify-content: center;
	margin-top: 120px;
}
.carrito{
	width: 70%;
	height: 500px;
	border: 1px solid;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.6);
}

/*=====  End of Carrito  ======*/


/*================================
=         Pie de pagina          =
================================*/

footer{
	margin-top: 50px;
	width: calc(100% - 19px);
	background: #888B8D;
	color: #FFFFFF;
	box-sizing: border-box;
}
.contenedor-footer{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px;
}
.f-body{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
footer .columna1{
	max-width: 400px;
}
footer .columna1 h2{
	font-size: 22px;
	font-weight: normal;
}
footer .columna1 p{
	font-size: 14px;
}
footer .columna2{
	max-width: 400px
}
footer .columna2 h2{
	font-size: 22px;
	font-weight: normal;
}
footer .fila{
	margin-top: 20px;
	display: flex;
}
footer .fila a{
	width: 36px;
	height: 36px;
}
footer .fila label{
	margin-top: 8px;
	margin-left: 10px;
}
footer .fila label a{
	color: #FFFFFF;
	text-decoration: none;
}
footer .fila i{
	font-size: 36px;
	color: #FFFFFF;
}
footer .columna3{
	max-width: 400px;
}
footer .columna3 h2{
	font-size: 22px;
	font-weight: normal;
}
.f-footer{
	box-sizing: border-box;
	width: 100%;
	background: #727272;
	display: flex;
	justify-content: space-around;
	padding: 20px;
}
footer  .copyright a{
	color: #FFFFFF;
}
footer .informacion a{
	color: #FFFFFF;
}
/*=====  End of Pie de página  ======*/