/*
	Colores: 

	violeta #702F8A
  gris    #888B8D
 	gris2   #D6D6D6
 	azul    #006EB3

 */
body{
	font-family: 'Roboto', sans-serif;
}
a:not(#categorias div ul li a), input[type="submit"], button{
	transition: .12s ease all;
}
/*===========================================
=            Barra de navegación            =
===========================================*/

header{
	top: 8px;
	border: 1px solid #702F8A;
	border-radius: 5px;
	background: #FFFFFF;
	width: calc(100% - 16px);
	clear: both;
	display: table;
	font-size: 18px;
	z-index: 100;
	position: fixed;
}
#menu {
	width:  1300px;
	margin: 0 auto;

}
#menu img{
	float: left;
	padding: 9px 0;
}
#menu nav{
	float: right;
}
#menu ul:not(#menu-productos ul){
	margin: 0;
}
#menu ul li:not(#productos, #menu-productos ul li){
	list-style: none;
	float: left;
	margin-left: 25px;
	padding: 25px 0;
}
#productos{
	list-style: none;
	float: left;
	margin-left: 25px;
	padding-top: 12px;
}
#productos button{
	padding: 13px;
	font-size: 18px;
	padding-bottom: 26px;
	font-family: 'Roboto', sans-serif;
	border-radius: 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: none;
	cursor: pointer;
}
.noEncima{	
	background: #FFFFFF;
	color: #702F8A;
}
.encima{
	background: #702F8A;
	color: #FFFFFF;
}
#productos button:hover{
	background: #702F8A;
	color: #FFFFFF;
}
#productos button:hover + #menu-productos{
	visibility: visible;
}
#menu ul li a:not(#categorias div ul li a){
	text-decoration: none;
	padding: 13px;
	border-radius: 5px;
	color: #702F8A;
}
#menu ul li a:hover:not(#categorias a:hover) {
	background: #702F8A;
	color: #FFFFFF;
}
#buscador{
	float: left;
	margin-left: 75px;
	margin-top: 18px;
	display: table;
}
#buscador input{
	height: 32px;
	width: 350px;
	padding: 0px 10px;
	border-radius: 0;
	border: 1px solid #702F8A;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	outline: none;
}
#buscador button{
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	background: #702F8A;
	color: #FFFFFF;
	border: 1px solid #702F8A;	
	border-radius: 0;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	float: right;
	cursor: pointer;
}
#buscador button:hover{
	background: #FFFFFF;
	color: #702F8A;
}
#menu-productos{
	position: absolute;
	margin: 0 auto;
	width: 50%;
	height: 300px;
	background: #FFFFFF;
	left: 25%;
	visibility: hidden;
	border: 1px solid #702F8A;
	border-radius: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#menu-productos:hover{
	visibility: visible;
}
#categorias{
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
#categorias > div{
	float: left;
	padding: 0 30px;
}
#menu-productos h4, #menu-productos ul{
	margin: 0;
	padding: 0;
}
#menu-productos ul li{
	list-style: none;
	padding: 8px 0;
}
#categorias h4{
	color: #006EB3;
	margin-bottom: 10px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
#categorias a{
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	border-radius: 5px;
}
#categorias a:after{
	content: "";
	display: block;
	width: 0;
	height: 1px;
	background: #006EB3;
	transition: .25s all;
}
#categorias a:hover:after{
	width: 100%;
}

/*=====  End of Barra de navegación  ======*/

/*=================================================
=                Página principal                =
=================================================*/

.container-slider{
	margin-top: 100px;
	width: 90%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}
.slider{
	display: flex;
	width: 300%;
	height: 350px;
	margin-left: -100%;
	justify-content: center;
	align-items: center;
}
.slider__section{
	width: 100%;
}
.slider__img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider:hover ~ .slider__btn{
	opacity: 1;
}
.slider__btn{
	position: absolute;
	padding: 5px;
	background: rgba(255, 255, 255, 0.7);
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	text-align: center;
	transition: all .1s;
	opacity: 0;
	cursor: pointer;
}
.slider__btn--right{
	right: 0;
}
.slider__btn--left{
	left: 0;
}
.slider__btn:hover{
	background: #fff;
	font-size: 40px;
	opacity: 1;
}
.selectores{
	margin: 0;
	padding: 0;
	position: absolute;
	display: flex;
	list-style: none;
	bottom: 0;
	left: calc(50% - 42.5px);
}
.selectores div {  
	position: relative;
	z-index: 50;
	margin: 10px;
	display: block;
	width: 8px;
	height: 8px;
	background: #FFFFFF;
	border-radius: 15px;
	cursor: pointer;
	transition: all 200ms ease;
}
.selectores div.active{
	margin: 7px;
	width: 13px;
	height: 13px;
}

#banner{
	margin: 0 auto;
	width: 1600px;
	height: 340px;
	margin-top: 100px;	
	display: flex;
	justify-content: center;
	align-items: center;
}
#banner .slider{
	width: 1600px;
	height: 340px;
	margin: auto;
	position: relative;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#banner .slider img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 5px;
}

 .slider input[type="radio"]{
	display: none;
}

 .slider input[type="radio"]:checked ~ a img{ 
	opacity: 1;
}




/*=====     End of Página principal        ======*/

/*=================================================
=            Navegación Login/Registro            =
=================================================*/

#nav_login ul{
	width: 100%;
	list-style: none;
	display: flex;
	text-align: center;
	margin: 0;
	padding: 0;
}
#nav_login li{
	width: 50%;
	padding: 20px 0;
	font-size: 22px;
	letter-spacing: 1px;
}
#nav_login li:not(.click):hover{
	background: #D6D6D6;
	cursor: pointer;
}
#btn-iniciar{
	border-right: 1px solid #888B8D;
	border-bottom: 1px solid #888B8D;
	border-top-left-radius: 5px;
}
#btn-iniciar.click{
	border-right: none;
	border-bottom: none;
	background: #ffffff;
	color: #006EB3;
	font-weight: bold;
}
#login.click{
	display: none;
}
#btn-registrar{
	border-left: 1px solid #888B8D;
	border-bottom: 1px solid #888B8D;
	border-top-right-radius: 5px;
}
#btn-registrar.click{
	border-left: none;
	border-bottom: none;
	background: #ffffff;
	color: #702F8A;
	font-weight: bold;
}
#registro.click{
	display: none;
}

/*=====  End of Navegación Login/Registro  ======*/

#contenedor{
	width: 400px;
	height: 560px;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #888B8D;
	border-radius: 5px;
}
#login, #registro{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#login input, #registro input{
	height: 32px;
	width: 65%;
	padding: 0px 10px;
	border-radius: 0;
	border: 1px solid #702F8A;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	outline: none;
	top: 0;

}
#login label, #registro label{
	display: flex;
	justify-content: center;
}
#login i, #registro i{
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid;	
	border-radius: 0;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #FFFFFF;
}
.error{
	font-size: 8px;
	padding: 0;
	margin: 0;
	color: #FF0000;
	visibility: hidden;
}
#login input[type="submit"], #registro input[type="submit"], #ingProd input[type="submit"], #actProd input[type="submit"]{
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
}

/*=============================
=            Login            =
=============================*/

#login{
	color: #006EB3;
	padding-top: 130px;
}
#login input{
	color: #702F8A;
	border-color: #006EB3;
}
#login input[type="submit"]{
	color: #ffffff;
	background: #006EB3; 
}
#login input[type="submit"]:hover{
	background: #702F8A;
}
#login i{
	background: #006EB3;
	border-color: #006EB3;
}

/*=====  End of Login  ======*/

/*================================
=            Registro            =
================================*/

#registro{
	color: #702F8A;
	padding-top: 25px;
}
#registro input{
	color: #006EB3;
	border-color: #702F8A;
}
#registro input[type="submit"]{
	color: #FFFFFF;
	background: #702F8A;

}
#registro input[type="submit"]:hover{
	background: #006EB3;
}
#registro i{
	background: #702F8A;
	border-color: #702F8A;
}

/*=====  End of Registro  ======*/

#crud{
	display: flex;
	justify-content: center;
}

/*=====================================
=            Tabla mostrar            =
=====================================*/

#mostProd{
	width: 60%;
	text-align: center;
}
#crud{
	margin-top: 100px;
}
#mostrar{
	width: 100%;
	border: 0.5px solid #702F8A;
	border-radius: 5px;
	text-align: center;
	border-spacing: 0;
	margin: 30px;
}
#mostrar td:not(.inp){
	border: 0.5px solid #702F8A;
	padding: 10px;
}
#mostrar thead{
	background: #702F8A;
	color: #FFFFFF;
}

#mostrar a, #mostrar .icon label:not(.contenido label){
	padding: 8px 25px;
	color: #702f8a;
	background: #ffffff;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	transition: .12s ease all;
}
#mostrar .icon{
	padding: 0 0;
}
#mostrar td a:hover, #mostrar .icon label:not(.contenido label):hover{
	background: #702f8a;
	color:  #ffffff;
	cursor: pointer;

}
#buscar-producto{
	width: 60%;
	margin: 30px;
	margin-bottom: 0;
	display: inline-block;
}
#buscador-crud{
	width: 100%;
}
#buscador-crud #barra{
	display: table;
	float: left;
}
#buscador-crud #barra input{
	height: 32px;
	width: 350px;
	padding: 0px 10px;
	border-radius: 0;
	border: 1px solid #702F8A;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	outline: none;
}
#buscador-crud #barra button{
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-align: center;
	background: #702F8A;
	color: #FFFFFF;
	border: 1px solid #702F8A;	
	border-radius: 0;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	float: right;
	cursor: pointer;
}
#buscador-crud #barra button:hover{
	background: #FFFFFF;
	color: #702F8A;
}
#buscador-crud #selectores{
	padding-top: 6px;
}
#buscador-crud #selectores input{
	margin-left: 10px;
}
#buscador-crud input[type="radio"]{
	border-radius: 0;
}
/*=====  End of Tabla mostrar  ======*/


/*====================================
=            Ver imágenes            =
====================================*/


#mostrar input[type="checkbox"]{
	display: none;
}
.imagenes, .eliminar{
	width: 100%;
 	height: 100vh;
 	position: fixed;
 	top: 0; 
 	left: 0;
 	background-color: rgba(0,0,0,0.2);
 	display: none;
 	justify-content: center;
 	align-items: center;
}
.contenido{
 	padding: 10px;
 	background-color: #FFFFFF;
 	border: 1px solid #702F8A;
 	border-radius: 5px;
 	box-shadow: 1px 10px 25px rgba(0,0,0,0.6);
}
.contenido table{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.contenido td{
	text-align: center;
}
.contenido .cerrarImagenes{
	margin: 5px 0;
}
.contenido .cerrarImagenes label{
	font-family: sans-serif;
	cursor: pointer;
	color:  #702F8A;
	padding: 10px 15px;
	border-radius: 5px;
	transition: .12s ease all;
}
.contenido .cerrarImagenes label:hover{
	background: #702F8A;
	color: #FFFFFF;
}
.contenido form{
	margin: 0;
	padding: 5px;
}
.contenido .inp{
	padding-top: 15px;
	border: 0.5px solid #702F8A;
}
.cerrarImagenes{
	margin-bottom: 7px;
}
.contenido input[type="file"]{
	display: none;
}
.imagenes .contenido .file, .imagenes .contenido input{
	background: #702F8A;
	border-radius: 5px;
	border: 1px solid #702F8A;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	padding: 3px 20px;
	margin: 10px;
	transition: .12s ease all;
}
.imagenes .contenido .file:hover, .imagenes .contenido input:hover{
	background: #006EB3;
	border: 1px solid #006EB3;
}

/*=====  End of Ver imágenes  ======*/

.contenido .cerrarEliminar{
	padding: 30px;
}
.contenido .cerrarEliminar p{
	margin-bottom: 20px;
	font-size: 20px;
}
.contenido .cerrarEliminar label{
	padding: 8px 25px;
  color: #702f8a;
  background: #ffffff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.contenido .cerrarEliminar label:hover{
	color: #FFFFFF;
	background: #702f8a;
}

/*===============================================
=          Ingresar/Modificar articulo          =
===============================================*/


#ingProd, #actProd{
	border: 1px solid #006EB3;
	border-radius: 5px;
	margin-top: 30px;
	height: 820px;
	width: 510px;
	text-align: center;
	padding: 20px 0;
}
#actProd{
	height: 550px;
}
#ingProd h2, #actProd h2{
	font-size: 26px;
	color: #006EB3;
}
#ingresar, #actualizar{
	margin: 0 auto;
	text-align: right;
}
#ingresar .inp, #actualizar .inp{
	text-align: left;
}
#ingresar input, #ingresar select, #actualizar input, #actualizar select{
	border: 1px solid #006EB3;
	border-radius: 5px;
	height: 25px;
	width: 250px;
	outline: none
}
#ingresar input[type="number"], #actualizar input[type="number"]{
	width: 80px;
}
#ingresar textarea, #actualizar textarea{
	border: 1px solid #006EB3;
	border-radius: 5px;
	width: 250px;
	height: 100px;
}
#ingresar input[type="file"]{
	display: none;
}
#ingresar label{
	height: 25px;
	width: 250px;
	font-size: 14px;
	background: #006EB3;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #006EB3;
	border-radius: 5px;
	transition: .12s ease all;
}
#ingresar label:hover{
	border: 1px solid #702F8A;
	background: #702F8A;
}
.seleccion::after {
  content: attr(data-after);
  white-space: pre;
}
#ingresar .btn, #actualizar .btn{
	text-align: center;
}
#ingresar .btn button, #actualizar .btn button{
	width: 40px;
	height: 40px;
	background: #006EB3;
	border: 1px solid #006EB3;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
}
#actualizar .btn a{
	color: #FFFFFF;
}
#ingresar .btn button:hover, #actualizar .btn button:hover{
	background: #702F8A;
	border: 1px solid #702F8A;
}
#ingresar td, #actualizar td{
	padding: 10px;
}
/*=====  End of Ingresar/Modificar articulo  ======*/